.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.editableSpanContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}